/Level 1/02_GuessNumber/*.suo
/Level 1/02_Types/*.suo
/Level 1/04_Converter/*.suo
/Level 1/04_Exceptions/*.suo
/Level 1/05_Files/*.suo
/Level 1/05_Streams/*.suo
/Level 1/06_NewTypes/*.suo
/Level 1/07_Avionika/*.suo
/Level 1/07_Classes/*.suo
/Level 1/08/07_Avionika/*.suo
/Level 1/08/08_DemoInterfaces/*.suo
/Level 1/14/14_Features/*.suo
/Level 1/14/14_LINQ3/*.suo
/Level 1/14/14_Variativeness/*.suo
